*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body
{
    margin: 0.3vw;
}
header
{
    background-color: #57a0fc;
    background-image: url('../img/pattern.png');
    height: 10vh;
}
.logo
{
    width: 10%;
    height: 100%;
    padding: 2vw 0 0;
    margin: 0 0 0 9.5vw;
}
main, footer
{
    width: 80vw;
    margin: auto;
}
main span 
{
    color: #3fafe4;
}
.main_p_grigio, .main-data
{
    color: grey;
}
.main-data
{
    font-size: 0.5vw;
}
.main_sezione_immagini
{
    margin: 1vw 0;
}
.main_immagini_descrizione
{
    font-size: 0.6vw;
    margin: 0 0 1vw 0;
}
ul
{
    margin: 1vw 0 1vw 1vw;
}
table
{
    text-align: left;
    border-spacing: 0;
    margin: 0 0 1vw;
}
th
{
    background-color: #33a9e2;
    color: white;
}
.tabella_colonne
{
    width: 15vw;
}
.main_tabella_rigacolorata
{
    background-color: #b1e5f1;
}
footer h5
{
    margin: 1vw 0;
    color: grey;
}
.footer_immagine_1, .footer_immagine_2
{
    width: 10vw;
    background-size: cover;
    aspect-ratio: 4/3;
    margin: 0.5vw 0;
}
.footer_immagine_1
{
    background-image: url('../img/monitor.jpg');
}
.footer_immagine_2
{
    background-image: url('../img/graph.jpg');
}
.footer_immagine_1 h4, .footer_immagine_2 h4
{
    color: white;
    text-align: center;
    padding: 0.5vw 0 0;
}
.footer_immagine_1:hover, .footer_immagine_2:hover, main span:hover, .logo:hover
{
    cursor: pointer;
}



















/* Fine */